.container {
  margin-bottom: 72px;
}

.container div:first-child {
  display: flex;
  justify-content: center;
}

.container div:last-child {
  padding: 20px 20px 0px 20px;
}

h2 {
  text-align: center;
}

img {
  height: 100%;
  max-height: 300px;
  border-radius: 10% / 50%;
}